import { gql, type TypedDocumentNode } from "marko-apollo-client";

export interface Book {
  id: string;
  title: string;
  author: string;
}

export interface BooksQuery {
  books: Book[];
}

export function BOOKS_QUERY(): TypedDocumentNode<BooksQuery> {
  return gql`
    query Books {
      books {
        id
        title
        author
      }
    }
  `;
}
