import { gql, type TypedDocumentNode } from "marko-apollo-client";

import type { Book } from "./books-query.marko";

export interface AddBookMutation {
  addBook: Book;
}

export interface AddBookVariables {
  title: string;
  author: string;
}

export function ADD_BOOK(): TypedDocumentNode<
  AddBookMutation,
  AddBookVariables
> {
  return gql`
    mutation AddBook($title: String!, $author: String!) {
      addBook(title: $title, author: $author) {
        id
        title
        author
      }
    }
  `;
}
